<%
// variable
var ejsRoot = '../';
var page = 'top';
%>
<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include(ejsRoot + 'inc/_meta', {data:data,meta:data[page]}); %>
    <%- include(ejsRoot + 'inc/_style'); %>
    <link href="/assets/css/top/style.css" rel="stylesheet" class="stylesheet">
    <%- include(ejsRoot + 'inc/_script'); %>
    <script type='text/javascript' src='/assets/js/main.js'></script>

    <script>
//        onload = function(){
//            // canvasエレメントを取得
//            var c = document.getElementById('canvas');
//            c.width = 500;
//            c.height = 300;
//
//            // webglコンテキストを取得
//            var gl = c.getContext('webgl') || c.getContext('experimental-webgl');
//
//            // canvasを黒でクリア(初期化)する
//            gl.clearColor(0.0, 0.0, 0.0, 1.0);
//            gl.clear(gl.COLOR_BUFFER_BIT);
//        };
    </script>

    <script id="vs" type="x-shader/x-vertex">
attribute vec3 position;
uniform   mat4 mvpMatrix;

void main(void){
    gl_Position = mvpMatrix * vec4(position, 1.0);
}
        </script>

    <script id="fs" type="x-shader/x-fragment">
void main(void){
    gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
}
        </script>

</head>
<body id="<%- page %>" class="top" data-id="top">
<%#- include(ejsRoot + 'inc/_log'); %>

<!-- ************************************************************
//
//  Loading
//
// ************************************************************ -->


<div id="wrapper">
    <div id="inner">
        <p style="font-size: 40px;">開発環境テスト！！</p>
        <%- include('./top/_section01', {data:data,page:page}); %>

    </div>
</div>

<%- include(ejsRoot + 'parts/_common/_footer', {data:data,page:page}); %>

</body>
</html>